@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height:100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
#main img{
    height: 440px;
    width: 300px;
    position: relative;
    object-fit: cover;
    z-index: 99;
    border-radius: 25px;

}
#scroll-div {
        position: absolute;
        white-space: nowrap;
        top: 20%;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
#scroll-div::-webkit-scrollbar{
    display: none;
}
#scroll-div h1{
    display: inline-block;
    font-size: 100px;
    font-family: "Anta", sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 4px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll-div2 {
    position: absolute;
    white-space: nowrap;
    top: 40%;
    width: 100%;
    z-index: 100;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div2::-webkit-scrollbar{
display: none;
}
#scroll-div2 h1{
display: inline-block;
font-size: 100px;
font-family: "Anta", sans-serif;
text-transform: uppercase;
margin-right: 30px;
letter-spacing: 4px;
-webkit-text-stroke-width: 0.1px;
-webkit-text-stroke-color: #000;
color: transparent;
animation-name: scroll;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
#scroll-div3 {
    position: absolute;
    white-space: nowrap;
    top: 60%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  
}
#scroll-div3::-webkit-scrollbar{
display: none;
}
#scroll-div3 h1{
    display: inline-block;
    font-size: 100px;
    font-family: "Anta", sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 4px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}


@keyframes scroll {
    0%{
        transform: translateX(calc(-100% - 32px));
    }
    100%{
        transform: translateX(0);
    }
}
